<% include ../../../header.ejs %>
<% include ../../../navibar.ejs %>

<div class="col-sm-10">
        <% include ../../navibar.ejs %>
        <div class="col-sm-12">
          <div class="panel panel-default">
                <div class="panel-heading">
                <%=subject%>
                </div>
                <!-- subject1 -->
                <div class="panel-body">
                        <div class="col-sm-4">
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    team info
                                </div>
                                <div class="panel-body">
    
                                </div>
                            </div>
                        </div>
                    </div>
                <!-- subject1 -->
                <div class="panel-body">
                    <div class="col-sm-4">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                recruit
                            </div>
                            <div class="panel-body">

                            </div>
                        </div>
                    </div>
                </div>
                <!-- subject2 -->
                <div class="panel-body">
                        <div class="col-sm-4">
                            <div class="panel panel-default">
                                <div class="panel-heading">
    
                                </div>
                                <div class="panel-body">
                                    league
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- subject3 -->
                <div class="panel-body">
                        <div class="col-sm-4">
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    challenge
                                </div>
                                <div class="panel-body">
    
                                </div>
                            </div>
                        </div>
                    </div>
            </div>
            
        </div>
    </div>
    


<% include ../../../footer.ejs %>